/* :not(.has-banner) .inline-title {
  background-image: url("https://i.imgur.com/ApDch6y.png");
  background-repeat: no-repeat, repeat;
} */


/* border styling */
.banner-image {
  border-radius: var(--radius-xl) var(--radius-xl) var(--radius-xl) var(--radius-xl) !important;
  border-width: 1px;
  border-style: solid;
  border-color: var(--accent-8);
  padding: 0;
  /* banner frame - Top border  */
  border-top-width: 4px;
    /* alternate frame - left and right borders (consistent with callouts) */
      /*   
      border-width: 1px;
      border-left-width: 4px;
      border-right-width: 4px; 
      */
 
/* banner width (and alignment) */
  max-width: 1000px !important;
  display: block !important;
  margin: auto !important;
}

/* banner icons */
body {
  --banner-emoji-size: 2em;
}
.obsidian-banner-icon .icon-box img
{
border-style: solid;
border-radius: var(--radius-xl);
border-width: 1px;
padding: 2px;
background-color: unset;
}
.obsidian-banner-icon img.emoji {
  height: var(--banner-emoji-size);
  width: var(--banner-emoji-size);
}



/* Positioning : Live preview */
div.cm-editor:has(.has-banner) .inline-title
{
margin-top: calc(var(--banner-height) - 14.5em);
margin-bottom: -0.8em;
position: static;
}
div.cm-editor:has(.has-banner) div.obsidian-banner-spacer {
position: absolute;
}
div.cm-editor:has(.has-banner) .obsidian-banner-icon {
position: absolute;
top: calc(var(--banner-height) - 21em);
}

/* Positioning : Reading view */
div.markdown-reading-view:has(.obsidian-banner-wrapper) .inline-title
{
margin-top: calc(var(--banner-height) - 14.5em);
margin-bottom: -0.8em;
position: static;
}
div.markdown-reading-view:has(.obsidian-banner-wrapper) div.obsidian-banner-spacer {
position: absolute;
}
div.markdown-reading-view:has(.obsidian-banner-wrapper) div.obsidian-banner-wrapper {
  margin-top: 0;
}
div.markdown-reading-view:has(.obsidian-banner-wrapper) .obsidian-banner-icon {
/* !! Not positioned correctly - cannot seem to be able to select the icon properly*/
/* display: none; */
position: absolute;
top: calc(var(--banner-height) - 4em);
}


/* .banner-s .obsidian-banner.gradient:not(.error) {
  -webkit-mask-image: linear-gradient(to bottom,black 50%,transparent);
} */

body {
  --banner-height: 25em;
  --banner-internal-embed-height: 10em;
}
/* Small banner - editor view */
/* small banner not available in Reading mode currently. */
.banner-s div.cm-editor:has(.has-banner) {
--banner-height: 10em ;
}
.banner-s div.cm-editor:has(.has-banner) .inline-title
{
margin-top: calc(var(--banner-height) - 6.5em);
margin-bottom: -0.8em;
position: static;
}
.banner-s div.cm-editor:has(.has-banner) div.obsidian-banner-spacer {
position: absolute;
}
.banner-s div.cm-editor:has(.has-banner) .obsidian-banner-icon {
position: absolute;
top: calc(var(--banner-height) - 8em);
}

/* ======== embedded note adjustment ===== */
.internal-embed .markdown-embed-content .obsidian-banner-wrapper {
  height: calc(var(--banner-internal-embed-height)*0.85);
  position: static;
}

/* ======== remove any border/background decorations from behind the banner ===== */
/* .markdown-source-view.mod-cm6 .cm-line.has-banner
{
  border-style: none;
  background-color: transparent;
} */