
/* HIDE PROPERTIES BY DEFAULT */
/* this snippet hides all properties except permited properties listed below */


.metadata-property{
  display: none;
  /* display: none !important */
}

/* DISPLAY PERMITTED CUSTOM PROPERTIES */
/* these properties are always displayed when this snippet is on */
.metadata-property:is(

  [data-property-key=""],
  [data-property-key="up"],
  [data-property-key="related"], 
  [data-property-key="aliases"], 
  [data-property-key="date-created"],
  [data-property-key="banner"],
  [data-property-key="bannner-y"],
  [data-property-key="cover"],
  [data-property-key="url"],
  [data-property-key="tags"], 
  [data-property-key="publish"],
  [data-property-key="summary"],

  /* periodic notes */
  [data-property-key="yesterday"],
  [data-property-key="week"],
  [data-property-key="last-week"],
  [data-property-key="month"],
  [data-property-key="last-month"],
  [data-property-key="quarter"],
  [data-property-key="last-quarter"],
  [data-property-key="year"],
  [data-property-key="last-year"],

/* properties associated with note type */
  [data-property-key="type"],
  [data-property-key="area"],
  [data-property-key="source"],
  [data-property-key="status"],
  [data-property-key="priority"],
  [data-property-key="rating"],
  [data-property-key="author"],
  [data-property-key="prep-time"],
  [data-property-key="cuisine"],
  [data-property-key="outcome-goals"],
  [data-property-key="deadline"],
  [data-property-key="publisher"],
  [data-property-key="date-published"],
  [data-property-key="date-started"],
  [data-property-key="date-finished"],
  [data-property-key="birthdate"],
  [data-property-key="contact-frequency"],

/* Journalling */
  [data-property-key="sleep"],
  [data-property-key="awake"],
  [data-property-key="sleep-comments"],
  [data-property-key="gratitude"],
  [data-property-key="highlights"],
  [data-property-key="lessons-learned"],
  [data-property-key="next-plans"],
  [data-property-key="work-comments"],
  
  ) {
      display: inherit;

  }

    /* .metadata-add-button {
    display: none;
  } */
