/* @settings

name: Colored Candy
id: colored-candy-settings
settings:
    - 
        id: bg-l-modifier
        title: Background-to-text contrast
        description: The background lightness and saturation will be adjusted by this amount to give more contast to the text.
        type: variable-number-slider
        default: 0
        min: -10
        max: 10
        step: 1
        format: '%'
    - 
        id: file-line-width
        title: Readable line length
        description: The maximum line length when "Readable line length" is enabled.
        type: variable-number
        default: 700
        format: px
    - 
        description: "**Readable line length** can be enabled under **Settings → Editor → Readable line length**."
        type: info-text
        markdown: true

*/

.theme-dark,
.theme-light {
    /* #region global variables */
    --accent-plus-60: calc(var(--accent-h) + 60);
    --accent-plus-120: calc(var(--accent-h) + 120);
    --accent-minus-60: calc(var(--accent-h) - 60);
    --accent-minus-120: calc(var(--accent-h) - 120);
    --accent-s-pastel: min(var(--accent-s), 50%);
    /* --accent-s-saturated: max(var(--accent-s), 50%); */
    /* #endregion */

    /* #region background modifiers */
    --bg-l-modifier: 0%;
    --bg-l-modifier-inverted: calc(var(--bg-l-modifier) * -1);
    --bg-s-modifier: calc(var(--bg-l-modifier) * 0.5);
    /* #endregion */

    /* --dropdown-background: var(--interactive-normal);
            --dropdown-background-hover: var(--interactive-hover); */
    /* --background-modifier-box-shadow: none; */

    /* #endregion */

    /* #region shadows */
    --swatch-shadow: none;
    --tab-stacked-shadow: none;
    --input-shadow: none;
    --input-shadow-hover: none;

    --pdf-shadow: none;
    --pdf-thumbnail-shadow: none;

    /* --embed-block-shadow-hover */
    /* --background-modifier-box-shadow: none; */
    /* #endregion */

    /* #region borders */
    --background-modifier-border: var(--hr-color);
    /* --background-modifier-border-hover:
        --background-modifier-border-focus: */
    --divider-color: var(--hr-color);
    --divider-color-hover: hsl(var(--accent-minus-60), var(--accent-s), var(--accent-l-readable));
    --status-bar-border-color: var(--divider-color);
    --sidebar-left-border-color: var(--divider-color);
    --nav-item-border-color: var(--divider-color);
    /* --nav-item-border-color-hover:  */
    --titlebar-border-color: var(--divider-color);
    --table-border-color: var(--text-muted);
    --table-header-border-color: var(--text-muted);
    --table-add-button-border-color: var(--text-muted);
    /* --table-add-button-color: var(--text-faint); */
    /* --file-header-border: var(--divider-color); */
    /* --slider-thumb-border-color: */
    /* --prompt-border-color: */
    /* --nav-indentiation-guide-color: */
    --modal-border-color: var(--divider-color);
    /* --indentation-guide-color */
    /* --checkbox-border-color
        --checkbox-border-color-hover */
    /* --input-focus-border-color */
    /* --metadata-border-color: var(--hr-color); */

    /* #endregion */

    /* #region accents */
    --text-accent: hsl(var(--accent-minus-60), var(--accent-s), var(--accent-l-readable));

    --interactive-accent: hsl(var(--accent-plus-60), var(--accent-s-pastel), var(--accent-l-closer));
    --interactive-accent-hover: hsl(calc(var(--accent-plus-60) - 3), calc(var(--accent-s-pastel) * 1.02), calc(var(--accent-l-closer) * 1.15));

    --tag-background: hsla(var(--accent-minus-60), var(--accent-s), var(--accent-l-closer), 0.25);
    --tag-background-hover: hsla(var(--accent-minus-60), var(--accent-s), var(--accent-l-closer), 0.35);

    --checkbox-color: var(--interactive-accent);
    --checkbox-color-hover: var(--interactive-accent-hover);

    --text-selection: hsla(var(--accent-minus-60), var(--accent-s), var(--accent-l-closer), 0.25);
    --text-highlight-bg: hsla(var(--accent-plus-60), var(--accent-s-pastel), var(--accent-l-closer), 0.6);

    --table-selection: hsla(var(--accent-minus-60), var(--accent-s), var(--accent-l-closer), 0.2);
    --table-selection-border-color: hsl(var(--accent-minus-60), var(--accent-s), var(--accent-l-readable));

    --nav-item-background-selected: hsla(var(--accent-minus-60), var(--accent-s), var(--accent-l-closer), 0.17);

    /* --blockquote-border-color: hsl(var(--accent-minus-60), var(--accent-s), var(--accent-l-readable)); */
    --blockquote-border-color: var(--interactive-accent);
    /* #endregion */


    /* --background-modifier-hover:  */

}

.theme-dark {
    /* #region global variables */
    --accent-l-readable: max(var(--accent-l), 50%);
    --accent-l-closer: min(var(--accent-l), 40%);
    /* #endregion */

    /* #region background */
    --background-primary: hsl(var(--accent-h), calc(var(--bg-s-modifier) + 35%), calc(var(--bg-l-modifier-inverted) + 25%));
    --background-primary-alt: hsl(var(--accent-h), calc(var(--bg-s-modifier) + 35%), calc(var(--bg-l-modifier-inverted) + 27%));
    --background-secondary: hsl(var(--accent-h), calc(var(--bg-s-modifier) + 35%), calc(var(--bg-l-modifier-inverted) + 30%));
    --background-secondary-alt: hsl(var(--accent-h), calc(var(--bg-s-modifier) + 35%), calc(var(--bg-l-modifier-inverted) + 32%));

    --background-modifier-hover: hsla(var(--accent-h), calc(var(--bg-s-modifier) + 30%), calc(var(--bg-l-modifier-inverted) + 40%), 0.5);
    --background-modifier-form-field: var(--interactive-normal);
    --background-modifier-border-hover: hsla(var(--accent-h), 25%, 18%);
    /* #endregion */

    /* #region text colors */
    --text-normal: hsl(0, 0%, 85%);
    --text-muted: hsl(var(--accent-h), 15%, 68%);
    --text-faint: hsl(var(--accent-h), 20%, 51%);
    /* --text-on-accent: var(--text-on-accent-inverted); */
    /* --text-accent: hsl(var(--accent-minus-60), var(--accent-s), var(--accent-l-readable)); */
    --text-accent-hover: hsl(calc(var(--accent-minus-60) - 5), calc(var(--accent-s) * 1.05), calc(var(--accent-l-readable) * 1.29));
    /* #endregion */


    --interactive-normal: hsl(var(--accent-h), calc(var(--bg-s-modifier) + 25%), calc(var(--bg-l-modifier-inverted) + 18%));
    --interactive-hover: hsl(var(--accent-h), calc(var(--bg-s-modifier) + 25%), calc(var(--bg-l-modifier-inverted) + 15%));
    --hr-color: hsl(var(--accent-h), calc(var(--bg-s-modifier) + 25%), calc(var(--bg-l-modifier-inverted) + 15%));
    /* --hr-color: hsl(var(--accent-h), 15%, 50%); */
}

.theme-light {
    /* #region global variables */
    --accent-l-readable: min(var(--accent-l), 35%);
    --accent-l-closer: max(var(--accent-l), 60%);
    /* #endregion */

    /* #region background */
    --background-primary: hsl(var(--accent-h), calc(var(--bg-s-modifier) + 35%), calc(var(--bg-l-modifier) + 75%));
    --background-primary-alt: hsl(var(--accent-h), calc(var(--bg-s-modifier) + 35%), calc(var(--bg-l-modifier) + 70%));
    --background-secondary: hsl(var(--accent-h), calc(var(--bg-s-modifier) + 35%), calc(var(--bg-l-modifier) + 65%));
    --background-secondary-alt: hsl(var(--accent-h), calc(var(--bg-s-modifier) + 35%), calc(var(--bg-l-modifier) + 60%));

    --background-modifier-hover: hsla(var(--accent-h), calc(var(--bg-s-modifier) + 35%), calc(var(--bg-l-modifier) + 50%), 0.5);
    --background-modifier-form-field: var(--interactive-normal);
    --background-modifier-border-hover: hsla(var(--accent-h), calc(var(--bg-s-modifier) + 25%), calc(var(--bg-l-modifier) + 85%));
    /* #endregion */

    /* #region text colors */
    --text-normal: hsl(0, 0%, 13%);
    --text-muted: hsl(var(--accent-h), 15%, 33%);
    --text-faint: hsl(var(--accent-h), 20%, 47%);
    /* --text-on-accent: var(--text-on-accent-inverted); */
    /* --text-accent: hsl(var(--accent-minus-60), var(--accent-s), var(--accent-l-readable)); */
    --text-accent-hover: hsl(calc(var(--accent-minus-60) - 3), calc(var(--accent-s) * 1.02), calc(var(--accent-l-readable) * 1.15));
    /* #endregion */


    --interactive-normal: hsl(var(--accent-h), calc(var(--bg-s-modifier) + 40%), calc(var(--bg-l-modifier) + 87%));
    --interactive-hover: hsl(var(--accent-h), calc(var(--bg-s-modifier) + 40%), calc(var(--bg-l-modifier) + 90%));
    --hr-color: hsl(var(--accent-h), calc(var(--bg-s-modifier) + 25%), calc(var(--bg-l-modifier) + 90%));
    /* --background-modifier-cover: black; */

}

body {
    /* #region radiuses */
    --radius-s: var(--size-4-5);
    --radius-m: var(--size-4-5);
    --radius-l: var(--size-4-5);
    --radius-xl: var(--size-4-5);
    --input-radius: var(--size-4-5);
    --tab-radius-active: var(--size-4-5);
    --checkbox-radius: var(--size-4-5);
    --checkbox-size: var(--size-4-5);
    --toggle-radius: var(--size-4-5);
    --toggle-thumb-radius: var(--size-4-5);
    --slider-thumb-radius: var(--size-4-5);
    /* #endregion */

    /* #region size variables */
    --size-1-2: var(--size-2-1);
    --size-1-1: calc(var(--size-1-2) / 2);
    --size-1-3: calc(var(--size-1-1) * 3);
    --size-16-16: calc(var(--size-4-4) * 16);
    --size-16-8: calc(var(--size-4-4) * 8);
    /* #endregion */

    /* #region line height */
    --line-height-normal: 1.75em;
    --line-height-tight: 1.5em;
    /* #endregion */
}

/* #region checkboxes */
input[type=checkbox]:checked:after {
    position: static;
    padding: auto;
}

.markdown-preview-view .task-list-item-checkbox {
    top: 0.34em;
}

.checkbox-container {
    box-shadow: none;
}

.checkbox-container:after {
    box-shadow: none;
}

/* #endregion */

/* .setting-item-control {
    box-shadow: none;
    text-shadow: none;
} */

/* del {
    text-underline-offset: 20px;
} */

/* #region highlight */
/* :has(+img.cm-widgetBuffer+span[contenteditable="false"]:empty+img.cm-widgetBuffer+span.cm-highlight) */
mark,
.search-result-file-matched-text,
.cm-highlight {
    border-radius: var(--size-4-5);
    padding: var(--size-1-1) var(--size-2-3);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    /* -break */
}

/* .cm-highlight.cm-formatting,
.cm-highlight.cm-formatting+.cm-highlight:not(.cm-formatting),
.cm-highlight:not(.cm-formatting)+.cm-highlight {
    padding-top: var(--size-1-1);
    padding-bottom: var(--size-1-1);
    border-radius: 0;
} */

.markdown-rendered mark .internal-link {
    color: var(--link-color);
}

.cm-highlight.cm-hashtag {
    padding-top: var(--size-1-2);
    padding-bottom: var(--size-1-2);
    position: relative;
    bottom: var(--size-1-1);
}

:not(.cm-formatting-hashtag)+.cm-highlight.cm-hashtag:not(.cm-formatting-hashtag)::before {
    content: '#';
}

.cm-highlight:not(.cm-formatting)+.cm-highlight.cm-formatting:not(:has(+.cm-highlight)) {
    padding-right: var(--size-2-3);
    border-top-right-radius: var(--size-4-5);
    border-bottom-right-radius: var(--size-4-5);
}

:not(.cm-highlight)+.cm-highlight.cm-formatting:has(+.cm-highlight:not(.cm-formatting)) {
    padding-left: var(--size-2-3);
    border-top-left-radius: var(--size-4-5);
    border-bottom-left-radius: var(--size-4-5);
}


.cm-highlight:has(+.cm-highlight),
.cm-highlight:has(+.cm-widgetBuffer+:empty+.cm-widgetBuffer+.cm-highlight),
.cm-highlight:has(+.cm-widgetBuffer+:empty+.cm-widgetBuffer+.cm-widgetBuffer+:empty+.cm-widgetBuffer+.cm-widgetBuffer+:empty+.cm-widgetBuffer+.cm-highlight) {
    padding-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


.cm-highlight+.cm-highlight,
.cm-highlight+.cm-widgetBuffer+:empty+.cm-widgetBuffer+.cm-highlight,
.cm-highlight+.cm-widgetBuffer+:empty+.cm-widgetBuffer+.cm-widgetBuffer+:empty+.cm-widgetBuffer+.cm-widgetBuffer+:empty+.cm-widgetBuffer+.cm-highlight {
    padding-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* .cm-s-obsidian span.cm-highlight:not(.cm-formatting)+span.cm-highlight,
.cm-s-obsidian span.cm-highlight+span.cm-highlight:not(.cm-formatting) {
    padding-left: 0;
    padding-right: 0;
} */

/* .cm-s-obsidian span.cm-highlight.cm-formatting+span.cm-highlight:not(.cm-formatting) {
    padding-left: 0;
    padding-right: 0;
} */

/* #endregion */

/* ::selection {
    border-radius: var(--size-4-5);
    padding: 1px var(--size-2-3);
} */

/* #region inline-code */
.markdown-rendered code,
.cm-s-obsidian .cm-inline-code:not(.cm-formatting) {
    padding: var(--size-2-2) var(--size-2-3);
    overflow: visible;
}

.cm-s-obsidian .cm-inline-code.cm-formatting,
.cm-s-obsidian .cm-inline-code.cm-formatting~.cm-inline-code:not(.cm-formatting) {
    padding-top: var(--size-2-2);
    padding-bottom: var(--size-2-2);
}

.cm-s-obsidian .cm-inline-code:not(.cm-formatting)+.cm-inline-code.cm-formatting {
    padding-right: var(--size-2-3);
}

.cm-s-obsidian .cm-inline-code.cm-formatting:has(+.cm-inline-code:not(.cm-formatting)) {
    padding-left: var(--size-2-3);
}

.cm-s-obsidian .cm-inline-code.cm-formatting+.cm-inline-code:not(.cm-formatting) {
    padding-left: 0;
    padding-right: 0;
}

/* .cm-s-obsidian .cm-inline-code.cm-formatting~.cm-inline-code:not(.cm-formatting) {
    padding-top: var(--size-2-2);
    padding-bottom: var(--size-2-2);
} */

/* #endregion */

/* #region workspace tabs */

.workspace-tab-header.is-active:before,
.workspace-tab-header.is-active:after {
    display: none;
}

.workspace-tab-header {
    margin-bottom: var(--size-4-2);
    --tab-width: var(--size-16-8);
    /* padding: var(--size-4-2); */
}

.mod-root .workspace-tab-header-inner {
    height: 100%;
    padding-top: var(--size-4-3);
    padding-bottom: var(--size-4-3);
    /* vertical-align: middle; */
    /* padding-bottom: var(--size-4-2); */
}

.workspace-tab-header-inner::after {
    /* margin-left: var(--size-4-2) */
    display: none;
}

/* div.workspace-tab-header-inner-title,
div.workspace-tab-header-inner-status-container {
    vertical-align: middle;
    padding: auto;
    margin: auto;
} */

/* #endregion */

/* #region tooltips */
.tooltip {
    /* background-color: var(--background-primary); */
    background-color: var(--interactive-hover);
    /* --tooltip-border: hsl(hue(var(--hr-color), saturation(var(--hr-color)), calc(lightness(var(--hr-color)) * -1))); */
    --tooltip-border: var(--interactive-hover);
    border-color: var(--tooltip-border);
    /* border-color: black; */
    /* border-style: solid; */
    border-width: var(--size-1-1);
    box-shadow: none;
    color: var(--text-muted);
}

.tooltip .tooltip-arrow,
.tooltip.mod-right .tooltip-arrow,
.tooltip.mod-top .tooltip-arrow {
    border-width: 8px;
}

.tooltip .tooltip-arrow {
    border-bottom-color: var(--tooltip-border);
    left: calc(50% - 3px);
}

.tooltip.mod-right .tooltip-arrow {
    border-right-color: var(--tooltip-border);
    top: calc(50% - 8px);
    left: -8px;
}

.tooltip.mod-top .tooltip-arrow {
    top: calc(100% - 3px);
    border-top-color: var(--tooltip-border);
}

/* #endregion */

/* svg * {
    stroke-linecap: round;
    stroke-linejoin: round;
    rx: 5;
    ry: 5;
} */

.menu {
    padding: var(--size-2-1);
}

.menu-item {
    padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
    margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}

.callout {
    background-color: rgba(var(--callout-color), 0.125);
}

/* .callout[data-callout="button"] {
    --callout-color: 143, 69, 255;
    --callout-icon: lucide-shell;
}

.callout[data-callout="button"] a {
    font-weight: 500;
    color: rgb(143, 69, 255);
    text-decoration: none;
}


.callout[data-callout="instructions"] {
    --callout-color: 242, 198, 78;
    --callout-icon: lucide-graduation-cap;
} */
