
body {
  --banner-normal: 25em;
  --banner-small: 10em;
  --banner-height: var(--banner-normal);
  --banner-internal-embed-height: var(--banner-small);
}

    /* Global - Live Preview */
  .obsidian-banner-spacer {
    /* height: calc(var(--banner-normal)*0.6); */
  }

    /* Global - Reading mode */
    .obsidian-banner-wrapper {
    /* margin: 0px 0px 0px 0px ; */
    /* height: calc(var(--banner-normal)*0.7); */
    }  

/* Small Banner */
.banner-s .obsidian-banner {
  height: var(--banner-small);
  }
.banner-s .obsidian-banner-spacer {
  height: calc(var(--banner-small)*0.2);
  }
.banner-s .obsidian-banner-wrapper {
  height: calc(var(--banner-small)*0.3);
  }  

/* banner embed */
.internal-embed .markdown-embed-content .obsidian-banner-wrapper {
  height: calc(var(--banner-internal-embed-height)*0.85);
  /* margin-top: 5.5em ; */
  position: static;
}

/*-rounded edges-*/
.banner-image {
  border-radius: var(--radius-xl) var(--radius-xl) var(--radius-xl) var(--radius-xl) !important;
  max-width: 1000px !important;
  border-width: 1px;
  border-top-width: 4px;
  border-style: solid  !important;
  border-color: var(--accent-6);
}

